@import'./Assest/CSS/Header';
@import'./Assest/CSS/varlable';
@import'./Assest/CSS/Extend';

main {
    width: 100%;
    position: relative;

    .HeroSection {
        width: inherit;
        display: flex;
        align-items: center;

        img {
            width: 49%;
            height: 79vh;
            margin-left: 20px;
        }

        .Description {
            width: 45%;
            position: absolute;
            left: 2%;

            h3 {
                font-family: $font-esteadad-bold;
                font-size: 20px;
                font-weight: 500;
                position: absolute;
                top: -13%;
                display: flex;
            }

            h1 {
                font-family: $font-yekan;
                font-size: 40px;
                font-weight: 900;

                display: flex;
            }

            h5 {
                font-family: $font-esteadad-light;
                font-size: 20px;

                display: flex;
            }

            a {
                button.get {
                    display: flex;
                    width: 182px;
                    height: 50px;
                    background: $LightGreen;
                    color: $Black;
                    padding: 14px 16px;
                    border-radius: 6px;
                    border: none;
                    font-family: $font-esteadad-black;
                    position: absolute;
                    top: 105%;
                }

                button.back {
                    display: flex;
                    width: 190px;
                    height: 50px;
                    background: #F7FCE9;
                    color: $Black;
                    padding: 14px 16px;
                    border-radius: 6px;
                    border: none;
                    font-family: $font-esteadad-black;
                    position: absolute;
                    top: 105%;
                    left: 45%;
                }
            }

            img {
                width: 102px;
                height: 52px;
                
            }
            a.customer {
                text-decoration: none;
                font-family: $font-yekan;
                font-size: 16px;
                margin: -22px;
            }
            a{
                text-decoration: none;
                font-family: $font-yekan;
                font-size: 16px;
                margin: 25px;
            }
        }
    }
}