@import'./Varlable';
@import'./Extend';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
  }

  // menu
header {
    width: 100%;
    position: relative;
  
    >div.TopBanner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
  
      >img {
        width: 100%;
        height: 70px;
      }
      >a {
        text-decoration: none;
  
        >span {
          font-family: $font-esteadad-bold;
          font-size: 15px;
          color: $White;
          background-color: $MiddleGreen-1;
          position: absolute;
          right: 40.5%;
          top: 17%;
        }
      }
    }
    >div.NavBar {
        width: 100%;
        height: 77px;
        background-color: $DarkGreen;
    
        >div.logo {
          >img {
            position: absolute;
            width: 34px;
            height: 34px;
            right: 130px;
            top: 90px;
          }
    
          >h1 {
            font-family: $font-esteadad-bold;
            color: $White;
            font-size: 25px;
            font-weight: 800;
            position: absolute;
            top: 62%;
            right: 11%;
            padding-right: 10px;
          }
        }
    
        >div.container {
          display: flex;
          justify-content: flex-end;
          align-items: center;
    
          >nav {
            display: flex;
    
            >ul {
              display: flex;
              flex-direction: row-reverse;
    
              >li {
                display: flex;
                margin: 35px;
    
                >a {
                  @extend %menu;
                  font-family: $font-esteadad-bold;
                }
    
                >a.Home {
                  color: $LightGreen;
                }
    
                >a.ContactUs {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  padding: 12px 16px;
                  gap: 8px;
                  width: 102px;
                  height: 45px;
                  color: $Black;
                  background-color: $LightGreen;
                  border-radius: 6px;
                  position: absolute;
                  top: 57%;
                }
              }
            }
          }
        }
      }
    }